{% extends "layout.html" %}
{% block content %}
<section class="row">
    <div class="col-12 infos">
        <h1>Titre de la nusique</h1>
        <ul>
            <li>Categorie 1</li>
            <li>Categorie 2</li>
            <li>Categorie 3</li>
            <li>Categorie 4</li>
        </ul>
    </div>
</section>
<section class="row">
    <div class="video col-8">
        <iframe src="https://www.youtube.com/embed/{{ video_shortcode }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
        <div>
            <h2 class="title_border">Description</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum ligula mi, et vehicula dolor vestibulum ut. Donec tellus mauris, fermentum at lobortis ut, commodo non mi. Suspendisse condimentum sem ut risus elementum porta. Aliquam dignissim ante id velit dictum, eget luctus urna ultrices. Duis et risus fermentum, maximus purus at, mattis sem. In hac habitasse platea dictumst. Donec sed tempus nunc. Sed feugiat nisl at diam venenatis, et varius lorem consequat. Proin nec tempus quam, a dignissim magna. Mauris porta arcu dolor, a maximus lacus luctus non. Proin in pellentesque ante. Cras bibendum at ante ac imperdiet. Nulla auctor ultricies molestie.
                Sed vel sapien mauris. Nulla vel mauris id dui blandit tristique sodales iaculis dolor. Sed fermentum, augue nec ornare laoreet, metus nibh porttitor arcu, et feugiat nisl eros sit amet justo. Ut pellentesque mauris vitae odio vestibulum molestie. Cras aliquet metus id nulla scelerisque, eget iaculis justo rhoncus. Sed dolor nibh, dapibus nec sodales et, auctor vel massa. Vestibulum porttitor velit mauris, quis aliquet lorem porta a. Nam nec maximus enim, id varius justo. Nullam pretium, lectus nec malesuada pulvinar, orci nisi blandit velit, auctor vestibulum tortor neque in nunc. Pellentesque quis velit non erat volutpat volutpat et ac metus. Suspendisse dignissim purus et nunc gravida, eget fringilla dui luctus.</p>
        </div>
    </div>
    <div class="infos_video col-4">
        <h2>Createur</h2>
        <img src="/src/img/pp.jpg" class="pp">
        <p class="d-inline-block color_blue">Nom de la chaine youtube</p>
        <h2>Note moyenne</h2>
        <div class="progresse_bar">
            <div class="color_progresse_bar" style="width:55%"></div>
        </div>
        <h2>Commentaire</h2>
        <div class="block_commentaire">
            <img src="/src/img/pp.jpg"/>
            <div class="content_block">
                <p>Patrice</p>
                <p>     Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore </p>
            </div>
        </div>
        <div class="block_commentaire">
            <img src="/src/img/pp.jpg"/>
            <div class="content_block">
                <p>Patrice</p>
                <p>     Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore </p>
            </div>
        </div>
        <div class="block_commentaire">
            <img src="/src/img/pp.jpg"/>
            <div class="content_block">
                <p>Patrice</p>
                <p>     Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore </p>
            </div>
        </div>
    </div>
</section>
<section class="row justify-content-end">
    <div class="col-12 infos">
        <h1>Tendance</h1>
    </div>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/liste-videos" class="col-2 custom_button">Voir + de videos</a>
</section>
<section class="row justify-content-end">
    <div class="col-12 infos">
        <h1>Vidéos les plus nulles du web</h1>
    </div>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/liste-videos" class="col-2 custom_button">Voir + de videos</a>
</section>


<section class="row  justify-content-center">

{% if user %}
	<p class="col-8">Hello, {{user.username}}. View your <a href="/account/profile" class="orange_link">profile</a>.</p>
{% else %}
	<p class="col-8">Welcome! Please <a href="/account/login" class="orange_link">log in</a>.</p>
{% endif %}

</section>


{% endblock %}