<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/customcss/index.css" rel="stylesheet">
</head>
<body class="container-fluid">
<header>
    <div class="svg_logo"></div>
    <h1>Titube</h1>
    <div class="svg_loupe"></div>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</header>

<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Variable Nunjuck hiden
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Title : {{ Title }}</li>
            </ul>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
{% block content %}

{% endblock %}
<p class="text-center">
    Mon Beau footer
</p>
</body>
</html>