<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/customcss/index.css" rel="stylesheet">
</head>
<body>
<header class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-12 header">
        <a href="/">
            <img class="logo_header" src="/src/svg/titube_logo.svg" alt="logo titube"/>
        </a>
        <a href="/" class="block-title">
            <p class="first-title">Titube</p>
        </a>
        <a>
            <img class="logo_search" src="/src/svg/search.svg" alt="logo search"/>
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="has_submenu">
                Category
                <ul>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                </ul>
            </li>
            <li>
                <a href="/account/login">Connexion</a>
            </li>
        </ul>
    </div>
    </div>
</header>
<div class="container">
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Variable Nunjuck hiden
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Title :</b> {{ Title }}</li>
                <li class="list-group-item"><b>pass_on_url :</b> {{ pass_on_url }}</li>
                <li class="list-group-item"><b>video_titre :</b> {{ video_titre }}</li>
                <li class="list-group-item"><b>video_category :</b> {{ video_category }}</li>
                <li class="list-group-item"><b>video_createur :</b> {{ video_createur }}</li>
                <li class="list-group-item"><b>video_thumbnail :</b> {{ video_thumbnail }}</li>
                <li class="list-group-item"><b>createur_pp :</b> {{ createur_pp }}</li>
                <li class="list-group-item"><b>video_shortcode :</b> {{ video_shortcode }}</li>
                <li class="list-group-item"><b>video_desciption :</b> {{ video_desciption }}</li>

            </ul>
        </div>
    </div>
</div>
</div>
<br/>
<br/>
<br/>
<main class="container">

{% block content %}

{% endblock %}
</main>
<p class="text-center">
    Mon Beau footer
</p>
</body>
</html>