{% extends "layout.html" %}
{% block content %}

<section class="row">
    <div class="col-12 infos">
        <h1>Vidéos les plus nulles du web</h1>
    </div>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>    <a href="/" class="col-3 miniature_video">
        <img src="/src/img/tomb-raider.jpg"/>
        <p>Titre de la video</p>
        <p>Nom du createur</p>
        <hr>
        <p class="nb_views">12K<img src="/src/svg/view.svg"/></p>
    </a>
</section>
{% endblock %}