{% extends "layout.html" %}
{% block content %}
<section class="row  justify-content-center">
    <form action="/account/signin" method="post" class=" col-6 form-group">
        <div>
            <label>Email:</label>
            <input class="form-control" type="text" name="username" /><br />
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" type="password" name="password" />
        </div>
        <div>
            <label>Re-type password:</label>
            <input class="form-control" type="password" name="retype-password" />
        </div>
        <br />
        <div>
            <input class="btn btn-primary" type="submit" value="Envoyer" />
        </div>
    </form>
</section>

{% endblock %}